body {
  background: url("https://img.freepik.com/premium-photo/mechanical-stopwatch-wooden-background_420001-2968.jpg?w=826");
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 105px;
  text-align: center;
  background-color: rgba(73, 50, 50, 0.568);
  cursor: pointer;
  border-radius: 15px;
  padding: 20px;
}

h1 {
  background-color: aliceblue;
  width: 200px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 10px;
}

button {
  border-radius: 5px;
  height: 35px;
  width: 80px;
  cursor: pointer;
  margin: 2px;
}

.startButton {
  background-color: green;
  color: white;
}

.stopButton {
  background-color: red;
  color: white;
}

.reset {
  background-color: rgba(202, 200, 200, 0.856);
  color: black;
}
